footer {
  display: flex;
  position: relative;
  top: 400px;
  left: 400px;
}
.footer_section {
  margin-right: 100px;
  text-align: left;
}
.footer_h3_2 {
  position: relative;
  left: -90px;
}
.input_footer_2 {
  height: 48px;
  width: 408px;
  border-color: black;
  border-width: 1px;
}

.btn_footer {
  height: 55px;
  width: 80px;
  border: none;
  color: white;
  background-color: black;
}
.footer_h3 {
  font: 16px "Libre Baskerville", serif;
  color: #333333;
}

.footer_h3_2 {
  font: 16px "Libre Baskerville", serif;
  color: #333333;
}
